<library path="lib/librqt_mission_panel">
  <class name="rqt_mission_panel/MissionPanel" type="rqt_mission_panel::MissionPanel" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to manage missions.
    </description>
    <qtgui>
      <group>
        <label>USV16</label>
        <icon type="theme">folder</icon>
      </group>
      <label>USV Mission Panel</label>
      <icon type="theme">applications-engineering</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
