<?xml version="1.0"?>
<launch>  
  <rosparam file="$(find usv16)/config/control_params.yaml" param="ctrl_params" command="load" />
  
  <!-- Spawn the example robot -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find usv16)/urdf/vbass.urdf.xacro'" />

  <node pkg="usv16" type="map_reference" name="map_reference" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" type="double" value="4.0" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz_node" args="-d $(find usv16)/config/simulation.rviz" />
  <node pkg="usv16" type="viz_ship" name="visualization_node" />
</launch>
